.vs/NWire/FileContentIndex/c1045814-6283-48a0-bc8d-78c8f7075deb.vsidx
.vs/NWire/FileContentIndex/f32b99d2-77e7-426d-8ca8-6e4f9d1c6a45.vsidx
.vs/NWire/FileContentIndex/read.lock
.vs/NWire/v17/.suo
.vs/NWire/v17/Preview/Browse.VC.db
.vs/NWire/FileContentIndex/c1045814-6283-48a0-bc8d-78c8f7075deb.vsidx
.vs/NWire/FileContentIndex/f32b99d2-77e7-426d-8ca8-6e4f9d1c6a45.vsidx
.vs/NWire/FileContentIndex/read.lock
.vs/NWire/v17/.suo
.vs/NWire/v17/Preview/Browse.VC.db
.vs